.create-line .RegularCard-cardTitle-101 {
    margin-top : 10px !important;
}

.create-line .RegularCard-cardTitle-433 {
    margin-top: 10px !important;
}

.create-line {
    text-align : left;
}

.primary {
    background-color: #2196f3 !important;
    color : white !important;
}

.danger {
    background-color: #db1515 !important;
    color : white !important;
}

.warning {
    background-color : #f7e00e !important;
    color : black !important;
}

.min-width-200 {
    min-width: 400px !important;
}